/* Fonts */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"),
  url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),
  url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"),
  url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-black06: rgba(0, 0, 0, 0.6);
  --basic-black05: rgba(0, 0, 0, 0.5);
  --basic-black03: rgba(0, 0, 0, 0.3);
  --basic-black02: rgba(0, 0, 0, 0.2);
  --basic-black01: rgba(0, 0, 0, 0.1);
  --basic-dark: #363636;

  --basic-grey: #e5e5e5;
  --basic-grey-dark: #dcdcdc;
  --basic-grey-darker: #a6a6a6;
  --basic-grey-special: #ebebeb;
  --basic-grey-special-dark: #d9d9d9;

  --basic-yellow: #f7e296;
  --basic-yellow-dark: #f0c52e;
  --basic-yellow-decor: #ffc600;

  --basic-green: #91c92f;
  --basic-pink: #f6dada;

  --basic-white: #ffffff;
  --basic-white07: rgba(255, 255, 255, 0.7);
  --basic-white06: rgba(255, 255, 255, 0.6);
  --basic-white04: rgba(255, 255, 255, 0.4);
  --basic-white03: rgba(255, 255, 255, 0.3);
}

/* Global */
.body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}
.page a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}
.body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Button */
.btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--basic-black);
}
.btn:hover {
  background-color: #f0c52e;
}
.btn:active {
  color: var(--basic-black03);
  background-color: #f0c52e;
}

/* Container */
.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
}

/* Visually-hidden */
.visually-hidden {
  display: none;
}

/* Header */
.header {
  margin-top: 40px;
}
.header-wrapper {
  padding: 44px 60px 50px;
  background-color: var(--basic-yellow);
}
.header-logo:hover {
  opacity: 0.6;
}
.header-logo:active {
  opacity: 0.3;
}
.header-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}
.header-menu-link {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}
.nav-list,
.nav-inserted-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}
.nav-inserted-link {
  line-height: 20px;
  color: var(--basic-black);
}
.header-menu-link:hover,
.nav a:hover {
  color: var(--basic-black06);
}
.header-menu-link:active,
.nav a:active {
  color: var(--basic-black03);
}

/* Slider */
.slider {
  margin-bottom: 76px;
}
.slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slide-description {
  width: 532px;
  padding: 110px 19px 22px;
}
.slide-heading {
  margin-top: 0;
  margin-bottom: 30px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.slide-text {
  line-height: 20px;
}
.slide-table {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;

  border-collapse: collapse;
}
.slide-table td {
  padding-right: 65px;
}
.slide-table-description {
  font-size: 36px;
  line-height: 42px;
}
.slide-table-feature {
  padding-top: 15px;

  font-size: 13px;
  line-height: 15px;
}

/* Categories */
.categories {
  margin-bottom: 49px;
}
.categories-wrapper {
  padding: 20px 0;
}
.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
}
.categories-img-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 38px;

  background-color: var(--basic-yellow);
}
.categories-link:hover .categories-img-wrapper {
  background-color: var(--basic-yellow-dark);
}
.categories-link:active .categories-img-wrapper {
  background-color: var(--basic-yellow-dark);
}
.categories-link:active img {
  opacity: 0.3;
}
.categories-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}
.categories-link:active .categories-name {
  color: var(--basic-black03);
}

/* Service */
.service {
  margin-bottom: 90px;
  background-color: var(--basic-grey);
}
.service-wrapper {
  display: grid;
  grid-template-columns: 277px 1fr;
  padding: 15px 0 68px;
}
.service-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.service-link:active {
  color: var(--basic-yellow);
  background-color: var(--basic-black);
}
.service h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}
.service-text {
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* Partners */
.partners {
  margin-bottom: 90px;
}
.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
}

/* Index Columns */
.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.index-columns h2 {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

/* Review */
.review {
  width: 473px;
  padding-top: 57px;
}
.review-text {
  margin-bottom: 40px;
}
.review-list {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}
.review-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

/* Contacts */
.contacts {
  width: 560px;
  margin-left: 20px;
  padding-top: 57px;
}
/* Footer */
.footer {
  padding: 46px 0 64px;
  
  color: var(--basic-white);
  background-color: var(--basic-dark);
}
.footer-logo:hover,
.copyright:hover {
  opacity: 0.6;
}
.footer-logo:active,
.copyright:active {
  opacity: 0.3;
}
.footer-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}
.footer-menu-link {
  line-height: 20px;
  color: var(--basic-white07);
}
.footer-menu-link:hover {
  color: var(--basic-white);
}
.footer-menu-link:active {
  color: var(--basic-white03);
}
.footer-address {
  line-height: 20px;
}
.footer-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}
.footer-nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--basic-white);
}
.footer-nav-link:hover {
  color: var(--basic-white06);
}
.footer-nav-link:active {
  color: var(--basic-white03);
}
.footer-tel {
  line-height: 20px;
  color: var(--basic-white);
}
.socials {
  list-style: none;
}
.socials-btn {
  font-size: 0;
}

/* Сatalog page */

/* Header */
.header-logout-link {
  color: var(--basic-black03);
}

/* Main-header */
.main-header-wrapper {
  padding: 44px 60px 30px;
}
.main h1 {
  margin-top: 0;
  margin-bottom: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}
.breadcrumbs-link {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black03);
}
.breadcrumbs-link:hover {
  color: var(--basic-black06);
}
.breadcrumbs-link:active {
  color: var(--basic-black01);
}

/* Catalog */
.catalog-columns {
  display: grid;
  grid-template-columns: 328px 832px;
}
.catalog-header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.catalog h2 {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* Catalog-filter */
.catalog-header-left {
  padding-left: 60px;
  background-color: var(--basic-grey-dark);
}
.filter {
  background-color: var(--basic-grey);
}

/* Catalog-sorting */
.catalog-header-right {
  padding-left: 72px;
  background-color: var(--basic-grey);
}
.sorting {
  margin: 0;
  padding: 0;

  font-weight: 400;
  list-style: none;
}
.sorting-link {
  color: var(--basic-black03);
}
.sorting-link:hover {
  color: var(--basic-black06);
}
.sorting-link:active {
  color: var(--basic-black);
}
.sorting-link-active {
  color: var(--basic-black);
}
.sorting-buttons {
  margin: 0;
  padding: 0;

  list-style: none;
}
.sorting-button {
  font-size: 0;
}

/* Catalog-main */
.catalog-main {
  padding: 21px 0 40px 72px;
}

/* Catalog-products */
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
}
.products-card {
  margin-top: 48px;
}
.products img {
  margin-bottom: 30px;
}
.products-text {
  letter-spacing: 0.05em;
}
.products-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}
.products-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

/* Catalog-pagination */
.pagination {
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;

  background-color: var(--basic-grey-special);
  list-style: none;
}
.pagination-button {
  padding: 25px 30px;

  text-transform: uppercase;
  color: var(--basic-black);
}
.pagination-button:hover {
  background-color: var(--basic-grey-special-dark);
}
.pagination-button:active {
  color: var(--basic-black03);
  background-color: var(--basic-grey-special-dark);
}
.pagination-number {
  color: var(--basic-black03);
}
.pagination-number:hover {
  color: var(--basic-black06);
}
.pagination-number:active {
  color: var(--basic-black);
}
.pagination-number-active {
  color: var(--basic-black);
}
