/* Fonts */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"),
  url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),
  url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"),
  url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-black06: rgba(0, 0, 0, 0.6);
  --basic-black05: rgba(0, 0, 0, 0.5);
  --basic-black03: rgba(0, 0, 0, 0.3);
  --basic-black02: rgba(0, 0, 0, 0.2);
  --basic-black01: rgba(0, 0, 0, 0.1);
  --basic-dark: #363636;

  --basic-grey: #e5e5e5;
  --basic-grey-dark: #dcdcdc;
  --basic-grey-darker: #a6a6a6;
  --basic-grey-special: #ebebeb;
  --basic-grey-special-dark: #d9d9d9;

  --basic-yellow: #f7e296;
  --basic-yellow-dark: #f0c52e;
  --basic-yellow-decor: #ffc600;

  --basic-green: #91c92f;
  --basic-pink: #f6dada;

  --basic-white: #ffffff;
  --basic-white07: rgba(255, 255, 255, 0.7);
  --basic-white06: rgba(255, 255, 255, 0.6);
  --basic-white04: rgba(255, 255, 255, 0.4);
  --basic-white03: rgba(255, 255, 255, 0.3);
}

/* Global */
.body {
  min-width: 1160px;
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}
.page a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}
.body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Button */
.btn {
  display: inline-block;
  height: 40px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  /* line-height: 22px; */
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--basic-black);
  text-align: center;
}
.btn:hover {
  background-color: var(--basic-yellow-dark);
}
.btn:active {
  color: var(--basic-black03);
  background-color:var(--basic-yellow-dark);
}

/* Container */
.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
}

/* Visually-hidden */
.visually-hidden {
  display: none;
}

/* Header */
.header {
  margin-top: 40px;
}
.header-wrapper {
  padding: 20px 60px 44px;
  background-color: var(--basic-yellow);
}
.header-logo {
  display: block;
  margin-top:-40px;
  margin-bottom: 29px;
}
.header-logo:hover {
  opacity: 0.6;
}
.header-logo:active {
  opacity: 0.3;
}
.header-middle {
  display: flex;
  margin-bottom: 44px;
}
.header-search {
  width: 50%;
}
.header-menu {
  width: 50%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}
.header-menu-item{
 margin-left: 41px;
 padding-left: 26px;
}
.header-menu-item:first-child {
  margin-right: auto;
  margin-left: 20px;
  padding-left: 21px;
}
.header-menu-link {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}
.nav-list,
.nav-inserted-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
}
.nav-item {
  margin-right:38px;
  margin-bottom: 6px;
}
.nav-item:first-child {
 padding-right: 35px;
 margin-right: 314px;
}
.nav-item:nth-child(4) {
  margin-right:0;
  margin-left:auto;
}
.nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}
.nav-inserted-link {
  line-height: 20px;
  color: var(--basic-black);
}
.header-menu-link:hover,
.nav a:hover {
  color: var(--basic-black06);
}
.header-menu-link:active,
.nav a:active {
  color: var(--basic-black03);
}

/* Slider */
.slider {
  margin-bottom: 76px;
}
.slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slide-description {
  width: 532px;
  padding: 110px 19px 22px;
}
.slide-heading {
  margin-top: 0;
  margin-bottom: 30px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.slide-text {
  margin-bottom: 51px;
  line-height: 20px;
}
.slider .btn {
  width: 220px;
  margin-bottom: 51px;
}
.slide-table {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;

  border-collapse: collapse;
}
.slide-table td {
  padding-right: 65px;
}
.slide-table-description {
  font-size: 36px;
  line-height: 42px;
}
.slide-table-feature {
  padding-top: 15px;

  font-size: 13px;
  line-height: 15px;
}

/* Categories */
.categories {
  margin-bottom: 49px;
}
.categories-wrapper {
  padding: 20px 0;
}
.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
}
.categories-img-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 38px;

  display: flex;

  background-color: var(--basic-yellow);
}

.categories-img-wrapper img {
  margin: auto;
}
.categories-link:hover .categories-img-wrapper {
  background-color: var(--basic-yellow-dark);
}
.categories-link:active .categories-img-wrapper {
  background-color: var(--basic-yellow-dark);
}
.categories-link:active img {
  opacity: 0.3;
}
.categories-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}
.categories-link:active .categories-name {
  color: var(--basic-black03);
}

/* Service */
.service {
  margin-bottom: 90px;
  background-color: var(--basic-grey);
}
.service-wrapper {
  display: grid;
  grid-template-columns: 292px 1fr;
  padding: 15px 0 68px;
}
.service-list {
  margin: 0;
  padding-top: 80px;
  padding-left: 0;

  border-right: 7px solid var(--basic-black);
  list-style: none;
}
.service-item {
  margin-bottom: 21px;
}
.service-link {
  width:160px;
  position: relative;
}
.service-link:active  {
  color: var(--basic-yellow);
  background-color: var(--basic-black);
}
.service-link::after {
  content: "";
  width: 125px;
  height: 40px;

  position: absolute;
  top: 0;
  left: 160px;
}
.service-link:active.service-link::after {
  background-color: var(--basic-black);
}
.service-description {
  padding:71px 184px 10px 116px;
}
.service h3 {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;

}
.service-text {
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* Partners */
.partners {
  margin-bottom: 90px;
}
.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}
.partners-item {
 margin-right: 40px;
}
.partners-item:nth-child(4n){
margin-right:0;
}

/* Index Columns */
.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.index-columns h2 {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}
.index-columns .btn {
  width: 260px;
}

/* Review */
.review {
  width: 473px;
  padding-top: 57px;
  padding-bottom: 86px;
}
.review-text {
  margin-top: 0;
  margin-bottom: 40px;
}
.review-text:nth-of-type(2) {
  margin-bottom: 60px;
}
.review-list {
  margin-top: 20px;
  margin-bottom: 75px;
  padding: 0;

  list-style: none;
}
.review-item {
  padding-left: 24px;
  margin-bottom: 20px;

  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;

}

/* Contacts */
.contacts {
  width: 560px;
  margin-left: 20px;
  padding-top: 57px;
}
.contacts-text {
  margin-top: 0;
  margin-bottom: 40px;
}
.contacts-map {
  display: block;
  margin-bottom: 76px;
}
/* Footer */
.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}
.footer-wrapper {
  padding-top: 46px;
  padding-bottom: 64px;
}
.up-footer {
  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}
.footer-logo:hover,
.copyright:hover {
  opacity: 0.6;
}
.footer-logo:active,
.copyright:active {
  opacity: 0.3;
}
.footer-menu {
  display: flex;
  justify-content: end;

  margin: 0;
  padding: 0;

  list-style: none;
}
.footer-menu-item {
  margin-left: 40px;
  padding-left: 26px;
}
.footer-menu-link {
  line-height: 20px;
  color: var(--basic-white07);
}
.footer-menu-link:hover {
  color: var(--basic-white);
}
.footer-menu-link:active {
  color: var(--basic-white03);
}
.middle-footer {
  display: flex;
  align-items: center;

  margin-bottom: 57px;
}
.footer-address {
  width: 328px;
  padding-right: 20px;

  line-height: 20px;
}
.footer-nav {
  width: 463px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;
  padding:0;

  list-style: none;
}
.footer-nav-item {
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer-nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--basic-white);
}
.footer-nav-link:hover {
  color: var(--basic-white06);
}
.footer-nav-link:active {
  color: var(--basic-white03);
}
.footer-tel {
  width: 329px;
  padding-left: 20px;

  line-height: 20px;
  text-align: end;
  color: var(--basic-white);
}
.bottom-footer {
  display: flex;
  align-items: center;

  position: relative;
}
.bottom-footer::before {
  content: "";
  width: 80px;
  height: 7px;

  position: absolute;
  left: 0;
  background-color: var(--basic-yellow-decor);
}
.socials {
  display: flex;
  justify-content: center;
  width: 463px;

  margin: 0;
  padding: 0;
  margin-left: 348px;
  margin-right: auto;

  background-color: burlywood;
  list-style: none;
}
.socials-item {
  width: 32px;
  height: 32px;

  margin-right: 20px;

  background-color: brown;
}
.socials-item:last-child {
  margin-right: 0;
}
.socials-btn {
  font-size: 0;
}

/* Ð¡atalog page */

/* Header */
.header-logout-link {
  margin-left: 20px;
  color: var(--basic-black03);
}

/* Main-header */
.main-header-wrapper {
  padding: 44px 60px 30px;
}
.main h1 {
  margin-top: 0;
  margin-bottom: 30px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}
.breadcrumbs-item {
  padding-left: 26px;
  margin-right: 20px;
}
.breadcrumbs-item:first-child {
  padding-left: 0;
}
.breadcrumbs-link {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black03);
}
.breadcrumbs-link:hover {
  color: var(--basic-black06);
}
.breadcrumbs-link:active {
  color: var(--basic-black01);
}

/* Catalog */
.catalog-columns {
  display: grid;
  grid-template-columns: 328px 832px;
}
.catalog-header {
  padding-top: 25px;
  padding-bottom: 25px;
}
.catalog h2 {
  margin: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  background-color: darkslategrey;
}

/* Catalog-filter */
.catalog-header-left {
  display: flex;
  padding-left: 60px;
  background-color: var(--basic-grey-dark);
}
.filter {
  background-color: var(--basic-grey);
}

/* Catalog-sorting */
.catalog-header-right {
  display: flex;

  padding-left: 72px;
  background-color: var(--basic-grey);
}
.catalog-header-right h2 {
  margin-right: 74px;

  background-color: darkseagreen;
}
.sorting {
  display: flex;
  background-color: darkseagreen;

  margin: 0;
  padding: 0;
  margin-right: auto;

  list-style: none;
}
.sorting-item {
  margin-right: 30px;
}
.sorting-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black03);
}
.sorting-link:hover {
  color: var(--basic-black06);
}
.sorting-link:active {
  color: var(--basic-black);
}
.sorting-buttons {
  width:52px;
  height: 18px;

  background-color: darkseagreen;

  margin: 0;
  padding: 0;

  list-style: none;
}
.sorting-button {
  font-size: 0;
}

/* Catalog-main */
.catalog-main {
  padding: 21px 0 40px 72px;
}

/* Catalog-products */
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  margin: 0;
  padding: 0;

  list-style: none;
}
.products-card {
  margin-top: 48px;
}
.products img {
  margin-bottom: 30px;
}
.products-text {
  display: flex;
  letter-spacing: 0.05em;
}
.products-name {
  width: 276px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}
.products-price {
  width: 84px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: end;
}

/* Catalog-pagination */
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;

  background-color: var(--basic-grey-special);
  list-style: none;
}
.pagination-item:nth-child(2) {
 background-color: firebrick;
 padding-left: 6px;
}
.pagination-button {
  padding: 25px 30px;

  text-transform: uppercase;
  color: var(--basic-black);
}
.pagination-button:hover {
  background-color: var(--basic-grey-special-dark);
}
.pagination-button:active {
  color: var(--basic-black03);
  background-color: var(--basic-grey-special-dark);
}
.pagination-number {
  color: var(--basic-black03);
}
.pagination-number:not(:last-child) {
  margin-right: 30px;
}
.pagination-number:hover {
  color: var(--basic-black06);
}
.pagination-number:active {
  color: var(--basic-black);
}

/* Footer */
.footer-logout-link {
  margin-left: 20px;
}
