/* Fonts */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"),
  url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),
  url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"),
  url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-black06: rgba(0, 0, 0, 0.6);
  --basic-black05: rgba(0, 0, 0, 0.5);
  --basic-black03: rgba(0, 0, 0, 0.3);
  --basic-black02: rgba(0, 0, 0, 0.2);
  --basic-black01: rgba(0, 0, 0, 0.1);
  --basic-dark: #363636;

  --basic-grey: #e5e5e5;
  --basic-grey-dark: #dcdcdc;
  --basic-grey-darker: #a6a6a6;
  --basic-grey-special: #ebebeb;
  --basic-grey-special-dark: #d9d9d9;

  --basic-yellow: #f7e296;
  --basic-yellow-dark: #f0c52e;
  --basic-yellow-decor: #ffc600;

  --basic-green: #91c92f;
  --basic-pink: #f6dada;

  --basic-white: #ffffff;
  --basic-white07: rgba(255, 255, 255, 0.7);
  --basic-white06: rgba(255, 255, 255, 0.6);
  --basic-white04: rgba(255, 255, 255, 0.4);
  --basic-white03: rgba(255, 255, 255, 0.3);
}

/* Global */
.body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}
.page a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* Button */
.btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.btn:hover {
  background-color: #f0c52e;
}
.btn:active {
  color: var(--basic-black03);
  background-color: #f0c52e;
}

/* Header */
.header {
  background-color: var(--basic-yellow);
}
.header-logo:hover {
  opacity: 0.6;
}
.header-logo:active {
  opacity: 0.3;
}
.header-menu {
  list-style: none;
}
.header-menu-link {
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
}
.nav-list,
.nav-inserted-list {
  list-style: none;
}
.nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.nav-inserted-link {
  line-height: 20px;
  color: var(--basic-black);
}
.header-menu-link:hover,
.nav a:hover {
  color: var(--basic-black06);
}
.header-menu-link:active,
.nav a:active {
  color: var(--basic-black03);
}

/* Slider */
.slide-heading {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.slide-text {
  line-height: 20px;
}
.slide-table {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
}
.slide-table-description {
  font-size: 36px;
  line-height: 42px;
}
.slide-table-feature {
  font-size: 13px;
  line-height: 15px;
}

/* Categories */
.categories-list {
  list-style: none;
}
.categories img {
  background-color: var(--basic-yellow);
}
.categories-link:hover img {
  background-color: var(--basic-yellow-dark);
}
.categories-link:active img {
  background-color: var(--basic-yellow-dark);
}
.categories-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}
.categories-link:active .categories-name {
  color: var(--basic-black03);
}

/* Service */
.service {
  background-color: var(--basic-grey);
}
.service-list {
  list-style: none;
}
.service-link:active {
  color: var(--basic-yellow);
  background-color: var(--basic-black);
}
.service h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.service-text {
  line-height: 30px;
}

/* Partners */
.partners-list {
  list-style: none;
}

/* Review */
.review h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}
.review-list {
  list-style: none;
}
.review-item {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

/* Contacts */
.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* Footer */
.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}
.footer-logo:hover,
.copyright:hover {
  opacity: 0.6;
}
.footer-logo:active,
.copyright:active {
  opacity: 0.3;
}
.footer-menu {
  list-style: none;
}
.footer-menu-link {
  line-height: 20px;
  color: var(--basic-white07);
}
.footer-menu-link:hover {
  color: var(--basic-white);
}
.footer-menu-link:active {
  color: var(--basic-white03);
}
.footer-address {
  line-height: 20px;
}
.footer-nav {
  list-style: none;
}
.footer-nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-white);
}
.footer-nav-link:hover {
  color: var(--basic-white06);
}
.footer-nav-link:active {
  color: var(--basic-white03);
}
.footer-tel {
  line-height: 20px;
  color: var(--basic-white);
}
.socials {
  list-style: none;
}
.socials-btn {
  font-size: 0;
}

/* Сatalog page */

/* Header */
.header-logout-link {
  color: var(--basic-black03);
}
.main h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* Breadcrumbs */
.breadcrumbs {
  list-style: none;
}
.breadcrumbs-link {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black03);
}
.breadcrumbs-link:hover {
  color: var(--basic-black06);
}
.breadcrumbs-link:active {
  color: var(--basic-black01);
}

/* Filter */
.filter {
  background-color: var(--basic-grey-dark);
}
.filter h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Sorting */
.sorting {
  background-color: var(--basic-grey);
}
.sorting h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.sorting-list {
  list-style: none;
  font-weight: 400;
}
.sorting-link {
  color: var(--basic-black03);
}
.sorting-link:hover {
  color: var(--basic-black06);
}
.sorting-link:active {
  color: var(--basic-black);
}
.sorting-link-active {
  color: var(--basic-black);
}
.sorting-buttons {
  list-style: none;
}
.sorting-button {
  font-size: 0;
}

/* Products */
.products {
  list-style: none;
}
.products-name {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}
.products-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

/* Pagination */
.pagination {
  list-style: none;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--basic-grey-special);
}
.pagination-button {
  text-transform: uppercase;
  color: var(--basic-black);
}
.pagination-button:hover {
  background-color: var(--basic-grey-special-dark);
}
.pagination-button:active {
  color: var(--basic-black03);
  background-color: var(--basic-grey-special-dark);
}
.pagination-number {
  color: var(--basic-black03);
}
.pagination-number:hover {
  color: var(--basic-black06);
}
.pagination-number:active {
  color: var(--basic-black);
}
.pagination-number-active {
  color: var(--basic-black);
}
